
#widget-game {
margin: 0px 10%;
text-align: center;
padding: 15px;
border-radius: 15px;
}
#game-status {
padding: 2px;
margin-bottom: 1px;
border-radius: 15px;
background: #fcfcfcef;
margin-to: 1px;
}
.turn-status-container {
padding-top: 4px;
padding: 3px;
margin: 10px;
background: #88c5fa;
vertical-align: middle;
}
#week-container {
padding-top: 4px;
}
#game-zone {
margin-top: 2px;
min-height: 800px;
}

#players {
margin: 8px;
background: #fcfcfcef;
}

#gameplayer {
margin: 8px;
padding: 2px;
}

.player {
background: rgba(255, 255, 255, 0.822);
}

.profile-image {
width: 52px;
height: 52px;
border-radius: 40px;
/* image-resolution: 300dpi; */
}

#players {
padding-top: 15px;
}
.player-drawer {
margin: 0px;
padding: 5px 4px;
display: flex;
vertical-align: baseline;
transition: 0.3s ease;
cursor: pointer;
}
.player-drawer:hover {
background: #53b688;
}
.separator {
margin: 5px auto;
}
.cash,
.terrain,
.store {
margin: 0px;
padding: 0px;
vertical-align: middle;
}
.player-resumen {
padding: 2px;
padding-right: 4px;
padding-left: 4px;
font-size: 80%;
margin-top: 4px;
margin-bottom: 0px;
margin-left: 2px;
text-align: center;
background: #e3e3d6;
border-radius: 15px;
border-style: solid;
border-right-width: 1px;
border-left-width: 1px;
border-top-width: 1px;
border-bottom-width: 2px;
border-color: #a5a59d;
}
.player-drawer h6 {
margin-top: 6px;
margin-bottom: 0px;
text-align: left;
}
.player-drawer > .player-text {
margin-left: 5px;
width: 65%;
}

.status-resume {
background: #deb950;
border-radius: 15px;
border: solid;
border-width: 1px 2px 3px 1px;
border-color: #987f38;
max-height: 345px;
}
.relieve {
border-style: solid;
border-width: 1px 2px 3px 1px !important;
}
.pbar {
background: #e0c168;
padding: 15px;
padding-top: 1px;
border-radius: 15px;
border-width: 1px 2px 3px 1px;
border-style: solid;
border-color: #b29a56;
}
.crono {
font-size: 150%;
margin: 3px;
}
.btn-status-resume {
background: #c7a548;
border: solid;
border-right-width: 2px;
border-left-width: 1px;
border-top-width: 1px;
border-bottom-width: 2px;
}
.btn-status-resume:hover {
background: #ab8e3e;
border-color: #5e563e;
}
.btn-status-resume:active {
background: #a28e3e;
}

.terrains-resume {
margin-top: 2px;
overflow: auto;
height: auto;
min-height: 300px;
}
.terrain-container {
background: #db9244;
border: #7d432f;
border-style: solid;
border-radius: 5px;
margin: 5px 12px 2px 12px;
}
.terrain-name {
padding: 4px;
margin-left: 15px;
text-align: left;
}
.terrain-actions {
padding: 5px;
}
.btn-terrain-action {
padding: 0 0.5rem 0 0.5rem !important;
margin: 0;
background: #c0813f;
border-style: solid;
border-color: #a86f34;
border-width: 1px 1px 1px 1px !important;
}
.btn-terrain-action:hover {
background: #ab8e3e;
border-color: #5e563e;
}
.bi-terreno {
background: #ab7d49;
border-radius: 20px;
text-align: center;
display: inline-block;
font-size: 162%;
padding: 8px;
margin: 5px;
border-style: solid;
border-color: #7d432f;
border-width: 1px 1px 1px 1px !important;
}
#map-resume {
padding:0;

}
.chain-log {
margin: 2px;
padding:0px;
background:#C2D0FF;
padding:2px;
padding-top: 15px;
border-radius:5px;
border-style: solid;
border-width: 0.1px;
border-color:#3B708A;

}
.chain-log-container{
max-height: 250px !important;
overflow-y: auto;
overflow-x: hidden;
}

.log-element-new{
background:#7395D6;
border-style:solid;
border-width: 1px;
animation-name: new-log;
animation-duration: 1.5s;
animation-iteration-count: infinite;
}
.log-element {
background:#7395D6;
padding: 1px;
margin-bottom: 2px;
border-radius:5px;
text-align:center;
vertical-align: baseline;
cursor: pointer;
}
.log-element:hover{
background:#546D9C;
}
.chain-log-title {
margin-top:3px;

}

.r {
background: #e36db6;
border-top-left-radius: 10px;
}
.g {
background: #adf067;
}
.b {
background: #67b9f0;
border-top-right-radius: 10px;
}

.cr-icon {
animation-name: example;
animation-duration: 8s;
animation-iteration-count: infinite;
}
@keyframes new-log {
0%{
    background:#7395D6;
    border-color:#7395D6;
}
50% {
    background:#4E7BCF;
}
100% {
    background:#7395D6;
    border-color:#7395D6;
}
}

@keyframes example {
100% {
    transform: rotate(360deg);
}
}