body {
    overflow: hidden;
    /* Desactiva opciones por mantener pulsado con un pad tactil */
    -webkit-touch-callout: none !important;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
.btn-primary, .bg-primary {
    background-color: #00a767;
    color:#fff;
    border-color:#00a767;
  }
  .btn-outline-primary {color:#018a61;border-color:#1fad83}
  .btn-outline-primary:hover{
    color:#fff;border-color:#018a61; 
    background-color: #3dbb95;
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #07523c85;
    border-color: #07523c85;
  }
  .btn-link{color:#1fad83;}
  .btn-primary:hover{background-color:#018a61;border-color:#018a61}  

  .update-btn {
    background-color: #018a61;
    border-color: #018a61;
    padding: 8px;
    margin: 0px;
    color: #fff;
    border-radius: 12px;
    align-items: center;
    position: relative;
    right: 10px;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
  }
  
  .update-btn:after {
    content: 'Actualizar';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    
  }
    #wrapper {
        background-image: linear-gradient(to right,#f59f59,#f5c834e5);
        background-image: radial-gradient(#f59f59,#f5c834e5);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
        user-select: none;
    }

.title-text {
  
    font-family:'Courier New', Courier, monospace;
    font-size: 90px;
    line-height: 80px;
    color: rgba(48, 40, 20, 0.281);
}
.title-text2 {
    position: relative;
    top:65px;
    right: 80px;
    font-family:'Courier New', Courier, monospace;
    font-size: 95px;
    line-height: 95px;
    color: rgb(255, 148, 25);
    text-shadow: -2px 0 rgba(133, 124, 115,0.40), 0px 0   rgba(133, 124, 115,0.40), -2px 0   rgba(133, 124, 115,0.40), 0 0px   rgba(133, 124, 115,0.40);

}



.nodisplay {
    display: none !important;
}